main {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;

    
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
  }
.inner {
    width: 100%;
    height: 100%;
}